* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monsterrat", sans-serif;
  scroll-behavior: smooth;
}

/* Icons */

.fa-bars {
  font-size: 1.3rem;
  cursor: pointer;
}

.fa-search {
  padding-right: 8px;
  cursor: pointer;
}

.fa-shopping-bag{
  cursor: pointer;
}

/* Sidebar */

.sidebar{
  display: flex;
  position: fixed;
  z-index: 999;
  flex-direction: column;
  height: 100%;
  width: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a{
  padding: 0 30px;
  text-decoration: none;
  color: #575757;
}

.sidebar a:hover{
  color: #cccccc;
  transition: color 0.3s ease-in-out;
}

.sidebar a:first-child{
  text-align: right;
  font-size: 3rem;
  position: relative;
  top: 55px;
}

.sidebar a:not(:first-child) {
  position: relative;
  top: 40px;
  font-size: 1.6rem;
  padding-top: 20px;
}

#main {
  transition: margin-left .5s;
}

/* Popup */

.popup_wrapper {
  display: none;
}

.popup_wrapper {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.popup_container {
  background: #fff;
  margin: 150px auto;
  max-width: 100%;
  padding: 100px;
  width: 500px;
  text-align: center;
}

.popup_title {
  margin: 15px auto;
  width: 100%;
}

.close_popup {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: x-small;
  padding: 10px 0;
}

/* Header */

#popbar {
  background-color: black;
  color: whitesmoke;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: whitesmoke 1px solid;
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  color: white;
  transition: color ease-in 0.15s;
  transition: width 0.5s;
}

.navbar:hover {
  background: #efefef;
  color: black;
}

.navbar:hover #logo {
  content: url(../img/Logo-black-2x_130x@2x.png);
}

#logo {
  width: 130px;
}

/* Slides */

.slide-1-content {
  background: url(../img/Slide-4_1800x.jpg) bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.2vh;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 20000px rgba(0, 0, 0, 0.325);
}

.slide-2-content {
  background: url(../img/grand-sac-collection_f9995533-f4ef-4437-bed5-def3c64a91fc_1500x.jpg)
    center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 20000px rgba(0, 0, 0, 0.325);
}

.slide-3-content {
  background: url(../img/double-pochette-collection_1500x.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 20000px rgba(0, 0, 0, 0.325);
}

.slide-content {
  position: absolute;
  bottom: 60px;
  left: 80px;
  line-height: 2.5;
  color: whitesmoke;
}

.slide-heading {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.slide-subtext {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

/* Best Sellers */

#best-sellers {
  background-color: #efefef;
}

.best-sellers-text {
  text-align: center;
  padding-top: 84px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.best-seller-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #efefef;
}

.best-seller-imgs img {
  width: 100%;
}

.best-seller-imgs h4 {
  font-size: 12px;
  text-align: center;
}

.best-seller-imgs p {
  text-align: center;
  color: #000000bd;
  margin-bottom: 100px;
}

.best-seller-imgs span {
  text-decoration: line-through;
}

/* Footer */

.footer {
  display: flex;
  margin: 60px auto;
  width: 90%;
  height: 30vh;
  margin-bottom: 90px;
}

.footer-1 {
  width: 30%;
  /* margin-right: 40px; */
}

.footer-1 .fab {
  margin-right: 10px;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footer-4 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.news-descr,
.email,
.subscribe {
  margin-top: 20px;
}

.news-descr {
  color: rgb(80, 80, 80);
}

.about-descr {
  color: rgb(80, 80, 80);
  width: 90%;
}

.email {
  padding: 15px;
}

.subscribe {
  margin-top: 70px;
}

.about-descr,
.social {
  margin-top: 20px;
}

.link {
  line-height: 30px;
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.products,
.contact {
  margin-top: 15px;
}

/* Sticky */

.sticky {
  position: fixed;
  top: 0;
  background: #efefef;
  color: black;
  box-shadow: 0px 1px 7px #000000;
}

.sticky .logo {
  content: url(../img/Logo-black-2x_130x@2x.png);
}

/* Buttons */

.btn {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  transform-origin: left center;
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-slide {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  width: 130px;
  padding: 14px 0;
  margin-right: 8px;
  margin-top: 20px;
  letter-spacing: 3px;
  transform-origin: left center;
}

.btn-slide:hover {
  background-color: transparent;
  color: #efefef;
  transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-learn-more {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  border: 1px black solid;
  color: whitesmoke;
  left: 50%;
  top: -50px;
  padding: 20px;
  word-spacing: 2px;
  letter-spacing: 6px;
  transform: translate(-50%);
}

.btn-learn-more:hover {
  color: black;
  background-color: transparent;
  border: 1px black solid;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: left center;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  .best-seller-imgs {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-1,
  .footer-2,
  .footer-3,
  .footer-4 {
    width: 90%;
    margin-top: 20px;
  }
  .text {
    bottom: 30%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }
  .text h5 {
    font-size: 1.4rem;
  }
  .subscribe {
    width: 50%;
    text-align: center;
    justify-content: flex-start;
    left: 0;
    transform: translate(0);
  }
}
