* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monsterrat", sans-serif;
}

.popbar {
  background-color: black;
  color: whitesmoke;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: whitesmoke 1px solid;
  background: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  color: white;
  transition: color ease-in 0.15s;
}

.navbar:hover {
  background: #efefef;
  color: black;
}

.logo {
  width: 130px;
}

.navbar:hover .logo {
  content: url(../img/Logo-black-2x_130x@2x.png);
}

.fa-bars {
  font-size: 1.3rem;
}

.fa-search {
  padding-right: 8px;
}

.slide-1-content {
  background: url(../img/Slide-4_1800x.webp) bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.2vh;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 20000px rgba(0, 0, 0, 0.325);
}

.slide-2-content {
  background: url(../img/grand-sac-collection_f9995533-f4ef-4437-bed5-def3c64a91fc_1500x.jpg)
    center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}

.slide-3-content {
  background: url(../img/double-pochette-collection_1500x.webp) center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
}

.text {
  position: absolute;
  bottom: 60px;
  left: 80px;
  line-height: 2.5;
  color: whitesmoke;
}

.text h6 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.text h5 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

.best-sellers {
  background-color: #efefef;
}

.best-sellers h6 {
  text-align: center;
  padding-top: 84px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.product-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #efefef;
}

.product-imgs img {
  width: 100%;
}

.product-imgs h4 {
  font-size: 12px;
  text-align: center;
}

.product-imgs p {
  text-align: center;
  color: #000000bd;
  margin-bottom: 100px;
}

.product-imgs span {
  text-decoration: line-through;
}

.footer {
  display: flex;
  margin: 60px auto;
  width: 90%;
  height: 30vh;
}

.footer-1 {
  width: 30%;
  margin-right: 40px;
}

.footer-1 .fab {
  margin-right: 10px;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.footer-4 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.news-descr,
.email,
.subscribe {
  margin-top: 20px;
}

.news-descr {
  color: rgb(80, 80, 80);
}

.about-descr {
  color: rgb(80, 80, 80);
}

.email {
  padding: 15px;
}

.subscribe {
  margin-top: 70px;
}

.about-descr,
.social {
  margin-top: 20px;
}

.link {
  line-height: 30px;
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.products,
.contact {
  margin-top: 15px;
}

.sticky {
  position: fixed;
  top: 0;
  background: #efefef;
  color: black;
  box-shadow: 0px 1px 7px #000000;
}

.sticky .logo {
  content: url(../img/Logo-black-2x_130x@2x.png);
}

.btn {
  border: none;
  text-transform: uppercase;
  text-align: center;
  transform-origin: left center;
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-slide {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  width: 130px;
  padding: 14px 0;
  margin-right: 8px;
  margin-top: 20px;
  letter-spacing: 3px;
  transform-origin: left center;
}

.btn-slide:hover {
  background-color: transparent;
  color: #efefef;
  transition: color 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-learn-more {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  border: 1px black solid;
  color: whitesmoke;
  left: 50%;
  top: -50px;
  padding: 20px;
  word-spacing: 2px;
  letter-spacing: 6px;
  transform: translate(-50%);
}

.btn-learn-more:hover {
  color: black;
  background-color: transparent;
  border: 1px black solid;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: left center;
}
